/* @font-face {
  font-family: 'GurAkhar';
  src: local('GURAKHAR'), url(../fonts/GURAKHAR.TTF) format('truetype');
} */

/* 
==========================
*/
@font-face {
  font-family: 'Gurbani Akhar';
  src: local('OpenGurbaniAkhar-Regular.otf'), url(../fonts/OpenGurbaniAkhar/Regular/OpenGurbaniAkhar-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Gurbani Akhar Bold';
  font-weight: 800;
  src: local('OpenGurbaniAkhar-Bold.otf'), url(../fonts/OpenGurbaniAkhar/Bold/OpenGurbaniAkhar-Bold.otf);
}

@font-face {
  font-family: 'Gurbani Akhar Black';
  font-weight: 800;
  src: local('OpenGurbaniAkhar-Black.otf'), url(../fonts/OpenGurbaniAkhar/Black/OpenGurbaniAkhar-Black.otf);
}

@font-face {
  font-family: 'Satluj';
  src: local('OpenSatlujUni-Regular.otf'), url(../fonts/OpenSatlujUni/Regular/OpenSatlujUni-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Satluj Bold';
  font-weight: 800;
  src: local('OpenSatlujUni-Bold.otf'), url(../fonts/OpenSatlujUni/Bold/OpenSatlujUni-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.2px;
  text-transform: lowercase;
}

.gurakhar {
  font-family: 'Gurbani Akhar';
}

.gurakhar-bold {
  font-family: 'Gurbani Akhar Bold';
}

.gurakhar-black {
  font-family: 'Gurbani Akhar Black';
}

.satluj {
  font-family: 'Satluj';
}

.satluj-bold {
  font-family: 'Satluj Bold';
}

.mtop15 {
  margin-top: 15px;
}

.faded-text {
  opacity: 0.4;
}

.extra-faded-text {
  opacity: 0.2;
}