.Column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;

}

.CharItem {
  border: 1px solid red;
  border-bottom: none;
  width: 1em;
  height: 1em;
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  font-family: 'Satluj Bold';
  color: #718096;
  margin: 0;
}

.CharItem:last-child {
  border-bottom: 1px solid red;
}